<div class="new-landing">
	<div class="top-section">
		<img src="/assets/logo.png" class="top-logo" data-aos="fade-up" data-aos-duration="500">
		<p data-aos="fade-up" data-aos-duration="500">Somos la plataforma más efectiva para conectar proveedores con empresas de la industria hotelera y restaurantera.</p>
		<div class="two-btn">
			<div class="btn-warp">
					<a data-aos="zoom-in-up" data-aos-duration="500" data-aos-delay="500" routerLink="/registro-empresa">Busca Proveedores</a>
			</div>
			<div class="btn-warp">
					<a data-aos="zoom-in-up" data-aos-duration="500" data-aos-delay="500" routerLink="/registro-proveedor">¿Eres Proveedor?</a>
				</div>
		</div>
	</div>

	<!--contendeor de lap y texto-->
	<div class="top-hero" data-aos="fade-up" data-aos-duration="500" id="trigger-top" >
		<div class="grid-two-top">
			<div class="text" data-aos="fade-right"  data-aos-delay="300"  data-aos-duration="500">
				<h1><span class="t-blue">Conectamos</span><br>proveedores y clientes<br>del <span class="t-yellow">sector hospitalario.</span></h1>
			</div>
			<div class="laptop" data-aos="fade-left" data-aos-anchor="#trigger-top"  data-aos-delay="500"  data-aos-duration="500">
				<img src="/assets/laptopmock.png">
			</div>
		</div>
	</div>
	<!--contenedor de dos botones-->
	<div class="fondo-w">
	<div class="two-options-cta" data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="500">
		<div class="item empresas">
			<div class="text-btn-grid">
				<div class="text">
					<h1>Encuentra lo que necesitas</h1>
				</div>
				<div class="btn-warp">
					<a routerLink="/registro-empresa">Regístrate Aquí</a>
				</div>
			</div>
			<div class="description">
				<p>Nuestro cotizador automático te permite recibir propuestas de nuestros proveedores de forma fácil y rápida.</p>
			</div>
		</div>
		<div class="item proveedores">
			<div class="text-btn-grid">
				<div class="text">
					<h1>Encuentra lo que necesitas</h1>
				</div>
				<div class="btn-warp">
					<a routerLink="/registro-proveedor">Regístrate Aquí</a>
				</div>
			</div>
			<div class="description">
				<p>Forma parte de nuestro directorio y empieza a recibir solicitudes de clientes interesados en tus servicios.</p>
			</div>
		</div>
	</div>
	<!--parrafo y logo exphotel-->
	<div class="info-exphotel">
		<div class="logo" data-aos="fade-left" data-aos-duration="500">
			<img src="/assets/logoexphotel-solo.png">
		</div>
		<div class="texto" data-aos="fade-right" data-aos-duration="500">
			<p>Con más de <span class="t-blue">24 años de experiencia</span> en conectar empresas de la industria hotelera y restaurantera, te presentamos: <span class="t-blue"><i>ExpHotel Hive</i></span>, la aplicación que conecta a proveedores con hoteles y restaurantes para <span class="t-blue">hacer negocios de forma rápida y eficiente.</span></p>
		</div>
	</div>
	</div>
	<!--pasos-->
	<div class="pasos">
		<img class="comofunciona" src="/assets/comofunciona.png" data-aos="fade-up" data-aos-duration="500">
		<div class="grid-three">
			<div class="item uno" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300" >
				<img class="numero" src="/assets/1.png">
				<h1 class="t-blue">Registra tu<br>empresa</h1>
				<img class="screen" src="/assets/screen1.png">
				<h3>En tan sólo 4 pasos</h3>
			</div>
			<div class="item dos" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" >
				<img class="numero" src="/assets/2.png">
				<h1 class="t-cyan">Realiza tu<br>requisición</h1>
				<img class="screen" src="/assets/screen2.png">
				<h3>De acuerdo a tus requerimientos y necesidades.</h3>
			</div>
			<div class="item tres" data-aos="fade-right" data-aos-duration="500" data-aos-delay="700" >
				<img class="numero" src="/assets/3.png">
				<h1 class="t-yellow">Recibe propuestas<br>y elige la mejor</h1>
				<img class="screen" src="/assets/screen3.png">
				<h3>Y cierra tratos con tan sólo un clic.</h3>
			</div>
		</div>
		<div class="phrases">
			<h1 data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">Fácil</h1>
			<h1 data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">Rápido</h1>
			<h1 data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">Eficiente</h1>
		</div>
	</div>
	<!--cta bottom-->
	<div class="cta-bottom" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
		<h3>¿Qué estás esperando?</h3>
		<h1 class="t-yellow">Inicia tu prueba grauita. </h1>
		<div class="two-btn">
			<div class="btn-warp">
					<a data-aos="zoom-in-up" data-aos-duration="500" data-aos-delay="500" routerLink="/registro-empresa">Busca Proveedores</a>
			</div>
			<div class="btn-warp">
					<a data-aos="zoom-in-up" data-aos-duration="500" data-aos-delay="500" routerLink="/registro-proveedor">¿Eres Proveedor?</a>
				</div>
		</div>
	</div>
	<!--parrafo final-->
	<div class="teayudamos">
		<p  data-aos="fade-up" data-aos-duration="500">
			<span class="t-blue">Exp</span><span class="t-yellow">Hotel</span> <span class="t-cyan">Hive</span> te ayudará a conectar con las mejores empresas para hacer negocios de forma fácil, rápida y eficiente.
		</p>
	</div>
	<div class="landing-footer" data-aos="fade-up" data-aos-duration="500">
		<div class="logo">
			<img src="/assets/logo-vertical.png">
		</div>
		<div class="texto">
			<h1 class="t-blue">Contáctanos</h1>
			<a routerLink="tel:9881234568">Tel. (998) 123 4568</a>
			<a routerLink="mailto:ejemplo@exphotelhive.com">ejemplo@exphotelhive.com</a>
		</div>
	</div>
</div>
