.container-sidebar{
  display: flex;
  flex-direction: column;
  //min-height: calc(100vh - 100px);
  min-height: 100%;
  width: var(--app-sidebar-width);
  padding: 0!important;
  margin: 0!important;

  @media(max-width: 599px) {
    min-height: calc(100vh - 92px)!important;
  }

  & > div{
    padding: 1rem;
  }

  h4.row-title{
    margin-bottom: 0.75em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    /* gris-muy-oscuro */
    color: #5A6A6F;
  }

  .search-row{
    padding: 1em;
    background: var(--app-amarillo-claro);

    .search-field{
      width: 100%;

      ::ng-deep{
        .mat-form-field-wrapper {
          padding-bottom: 0;
        }
        .mat-form-field-outline{
          transition: none!important;
        }
        .mat-form-field-prefix{
          top: .45em;
          left: -5px;
        }
        .mat-form-field-infix {
          border-top-width: 0;
          padding: 1em 0 0.75em 0;
        }
      }
    }
  }

  .fav-row{
    display: flex;
    justify-content: center;
  }

  .cat-row{
    ul{
      margin: 0;
      padding: 0;
      list-style: none;

      li{
        a{
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          font-size: 11px;
          line-height: 13px;
          /* cyan */
          color: #00AAD3;
        }
      }
    }
  }


}


