.container{
  max-width: 500px;
  padding-top: 200px;

  .login-card{
    border-radius: 10px;
    border: 1px solid rgba(151, 188, 197, 0.4);

    h1{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      /* azul-marino */
      color: #062EBD;
    }

    .login-form{
      margin-top: 3em;

      .form-group{
        &:not(.text-center){
          label{
            margin-left: 0.5em;
            margin-right: -1.6em;
          }
        }
        label{
          margin-bottom: 0;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 15px;
          /* gris-muy-oscuro */
          color: var(--app-gris-muy-oscuro);

          span.input-req{
            margin-left: 0.3em;
            color: var(--app-rojo);
          }

          mat-icon.input-info{
            margin-left: 0.3em;
            width: auto;
            height: auto;
            font-size: 15px;
            line-height: 1em;
            vertical-align: middle;
            color: var(--app-cyan);
          }
        }
        .mat-form-field{
          width: 100%;
        }
      }

      .checks-seccion{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: var(--app-gris-muy-oscuro);

        span{
          color: var(--app-cyan);
        }
      }

      .error-msgs{
        p{
          margin-bottom: 5px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 15px;
          /* gris-muy-oscuro */
          color: var(--app-text-red);
        }
      }

      .login-btn{
        width: 150px;

        mat-spinner{
          display: inline-block;
          position: absolute;
          left: 15px;
          top: calc(50% - 10px);
        }
      }
    }

  }


  .forgot-msg{
    margin-bottom: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: var(--app-cyan);
  }
}
