mat-card{
  /* modal-shadow */
  box-shadow: 0px 5px 5px rgba(64, 148, 171, 0.24)!important;
  border-radius: 17px;

  .image-cont{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 120px;
      height: 120px;
      border: 1px solid rgba(151, 188, 197, 0.4);
      border-radius: 100px;
      filter: drop-shadow(0px 5px 5px rgba(64, 148, 171, 0.24));
    }
  }

  .detalles-cont{
    .actions{
      text-align: right;

      a{
        /* proveedor-link */
        cursor: pointer;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        /* gris-muy-oscuro */
        color: #5A6A6F;
      }

      .fav-btn:not(.isfav){
        mat-icon{
          color: #C4C4C4!important;
        }
      }
    }

    .breadcrumbs{
      margin-bottom: 0.5em;
      /* breadcrumbs */
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      /* cyan */
      color: #00AAD3;
    }

    .titulo{
      margin-bottom: 0.5em;
      /* titulos-cajas */
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      /* azul-marino */
      color: #062EBD;
    }

    .ratings{
      display: flex;
      align-items: center;

      span{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        /* dark-gray */
        color: #999D9E;
      }
    }

    .descripcion-corta{
      /* parrafos-cajas */
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      /* dark-gray */
      color: #999D9E;

      a{
        /* cyan */
        color: #00AAD3;
      }
    }
  }

  .pm-row{
    h4.row-title{
      margin-bottom: 0.75em;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 13px;
      /* gris-muy-oscuro */
      color: #5A6A6F;
    }
  }
}
