<div class="container-sidebar">
  <div class="section-user">
    <a class="user-btn" mat-button routerLink="/empresas/perfil" routerLinkActive="active">
      <div class="user-btn-cont">
        <app-user-image [image]="currentUser?.company?.profile_picture"></app-user-image>
        <span class="user-name text-right">{{ currentUser?.username || '-' }}</span><mat-icon aria-hidden="false">chevron_right</mat-icon>
      </div>
    </a>
  </div>

  <mat-nav-list>
    <!--<a mat-list-item routerLink="/empresas" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><span>Inicio</span><mat-icon class="chevron-right">chevron_right</mat-icon></a>-->
    <a mat-list-item routerLink="/empresas/general" routerLinkActive="active"><span>General</span><mat-icon class="chevron-right">chevron_right</mat-icon></a>
    <a mat-list-item routerLink="/empresas/cotizaciones" routerLinkActive="active"><span>Cotizaciones</span><mat-icon class="chevron-right">chevron_right</mat-icon></a>
    <a mat-list-item routerLink="/empresas/ofertas-relampago" routerLinkActive="active"><span>Ofertas Relámpago</span><mat-icon class="chevron-right">chevron_right</mat-icon></a>
    <a mat-list-item routerLink="/empresas/usuarios" routerLinkActive="active" *ngIf="currentUser?.role?.type == 'administrator'">
      <span>Usuarios</span><mat-icon class="chevron-right">chevron_right</mat-icon>
    </a>
    <a mat-list-item routerLink="/empresas/incidencias" routerLinkActive="active"><span [matBadge]="0" [matBadgeHidden]="true">Incidencias</span><mat-icon class="chevron-right">chevron_right</mat-icon></a>
  </mat-nav-list>

  <div class="flex-spacer"></div>
  <a mat-button class="logout-btn" (click)="logout()">Cerrar sesión</a>
</div>
