<div class="container mt-5">
  <div class="row gy-4 justify-content-around mb-5">
    <div class="col-auto d-flex flex-column justify-content-center align-items-center">
      <div class="step step-gold"><span>1</span></div>

      <mat-card class="pb-5">
        <mat-card-header>
          <mat-card-title>Busca</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="my-2">Utiliza nuestras herramientas y encuentra lo que necesitas.</p>
        </mat-card-content>
        <mat-card-actions class="py-2 px-3">
          <button mat-flat-button color="accent" class="btn-round" routerLink="catalogo">Por departamento</button>
          <button mat-flat-button color="accent" class="btn-round" routerLink="catalogo/proveedores">Por Proveedor</button>
          <button mat-flat-button color="accent" class="btn-round" routerLink="cotizador">Cotizador automático</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-auto d-flex flex-column justify-content-center align-items-center">
      <div class="step step-gold"><span>2</span></div>

      <mat-card class="pb-5">
        <mat-card-header>
          <mat-card-title>Recibe propuestas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="my-2">Evalúa las cotizaciones que te envíen nuestros  proveedores.</p>
          <div class="notes px-4 py-3" [class.disable]="!pending">
            <div class="icon-cont">
              <mat-icon svgIcon="cotizacion" [matBadge]="pending" *ngIf="pending"></mat-icon>
              <mat-icon svgIcon="cotizacion-disable" *ngIf="!pending"></mat-icon>
            </div>
            Cotizaciones pendientes
          </div>
        </mat-card-content>
        <mat-card-actions class="py-2 px-3">
          <button mat-flat-button color="accent" class="btn-round" routerLink="cotizaciones">Ir al panel</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-auto d-flex flex-column justify-content-center align-items-center">
      <div class="step step-gold"><span>3</span></div>

      <mat-card class="pb-5">
        <mat-card-header>
          <mat-card-title>Contacta a tu proveedor</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="my-2">Afina los detalles de la propuesta y cierra el trato.</p>
          <div class="notes px-4 py-3" [class.disable]="!unread">
            <div class="icon-cont">
              <mat-icon svgIcon="mnsg" [matBadge]="unread" *ngIf="unread"></mat-icon>
              <mat-icon svgIcon="mnsg-disable" *ngIf="!unread"></mat-icon>
            </div>
            Conversaciones sin leer
          </div>
        </mat-card-content>
        <mat-card-actions class="py-2 px-3">
          <button mat-flat-button color="accent" class="btn-round" routerLink="cotizaciones">Ir al panel</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-auto d-flex flex-column justify-content-center align-items-center">
      <div class="step"><span>4</span></div>

      <mat-card class="pb-5">
        <mat-card-header>
          <mat-card-title>Evalúa</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="my-2">Califica tu experiencia con nuestros proveedores.</p>
          <div class="notes px-4 py-3" [class.disable]="!unrated">
            <div class="icon-cont">
              <mat-icon svgIcon="star" [matBadge]="unrated" *ngIf="unrated"></mat-icon>
              <mat-icon svgIcon="star-disable" *ngIf="!unrated"></mat-icon>
            </div>
            Proveedores sin calificar
          </div>
        </mat-card-content>
        <mat-card-actions class="py-2 px-3">
          <button mat-flat-button color="accent" class="btn-round" routerLink="cotizaciones">Ir al panel</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
