.header-row{
  .cotizar-col{
    mat-checkbox{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      /* gris-muy-oscuro */
      color: #5A6A6F;
    }
  }
  .ordenar-col{
    label{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      /* gris-muy-oscuro */
      color: #5A6A6F;
    }
  }
}
