<div class="container">
  <mat-card class="login-card app-modal-shadow">

      <mat-card-content>
        <h1 class="text-center mt-5">Restablecer contraseña</h1>
        <form [formGroup]="resetForm" class="login-form" (ngSubmit)="onSubmit()" *ngIf="!response?.jwt; else sent">
          <div class="row">
            <div class="form-group col-md-10 mx-auto">
              <label for="password" class="form-label">Contraseña<span class="input-req">*</span></label>
              <mat-form-field appearance="outline">
                <input matInput type="password" id="password" formControlName="password" placeholder="***********">
                  <mat-error *ngIf="resetForm.get('password')?.hasError('required')">Ingrese contraseña.</mat-error>
                  <mat-error *ngIf="resetForm.get('password')?.hasError('minlength')">Contraseña muy corta, ingrese al menos 6 caracteres.</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-10 mx-auto">
              <label for="passwordConfirmation" class="form-label">Confirmar Contraseña<span class="input-req">*</span></label>
              <mat-form-field appearance="outline">
                <input matInput type="password" id="passwordConfirmation" formControlName="passwordConfirmation" placeholder="***********">
                  <mat-error *ngIf="resetForm.get('passwordConfirmation')?.hasError('required')">Confirmar contraseña.</mat-error>
                  <mat-error *ngIf="resetForm.get('passwordConfirmation')?.hasError('mustMatch')">Las contraseñas no coinciden.</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="error-msgs text-center">
            <p *ngFor="let m of errors">{{ m.id | translate: {default: m.message} }}</p>
          </div>

          <div class="row justify-content-center">
            <div class="col-auto py-3">
              <button type="submit" mat-flat-button color="accent" class="btn-round login-btn" [disabled]="wait">
                <mat-spinner [diameter]="20" [hidden]="!wait"></mat-spinner> Enviar
              </button>
            </div>
          </div>
        </form>

        <ng-template #sent>
          <div class="sent text-center">
            <h2>Contraseña restablecida</h2>
            <p>Ya puede iniciar sesion con su nueva contraseña.</p>
          </div>
        </ng-template>
      </mat-card-content>

  </mat-card>

  <div class="text-center mt-2">
    <a class="forgot-msg" routerLink="/login">Iniciar sesion</a>
  </div>
</div>
