<mat-dialog-content class="px-5">
  <form #form [formGroup]="requestForm" class="cotizacion-form" (ngSubmit)="onSubmit()">
    <div class="row py-3">
      <div class="form-group col">
        <label for="details" class="form-label">Añade detalles para nuestros proveedores<span class="input-req">*</span></label>
        <mat-form-field appearance="outline">
          <textarea matInput id="details" formControlName="details" rows="6" placeholder="Escribe aquí tus especificaciones"></textarea>
            <mat-error *ngIf="requestForm.get('details')?.hasError('required')">Ingrese especificaciones.</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="checks-seccion text-center">
      <p><mat-checkbox formControlName="check">Me comprometo a adquirir el producto/servicio si mi oferta es aceptada.</mat-checkbox></p>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="row justify-content-center py-3">
  <div class="col-auto">
    <button mat-flat-button color='accent' class="btn-round" (click)="onSubmit()" [disabled]="wait">Enviar</button>
  </div>
  <!--<div class="col-auto">
    <button mat-flat-button color='primary' class="btn-round" mat-dialog-close>Cancelar</button>
  </div>-->
</mat-dialog-actions>
