<div class="container">
  <mat-card class="login-card app-modal-shadow">

      <mat-card-content>
        <h1 class="text-center mt-5">Recuperar contraseña</h1>
        <form [formGroup]="forgotForm" class="login-form" (ngSubmit)="onSubmit()" *ngIf="!response?.ok; else sent">
          <div class="row">
            <div class="form-group col-md-10 mx-auto">
              <label for="email" class="form-label">Correo electrónico<span class="input-req">*</span></label>
              <mat-form-field appearance="outline">
                <input matInput type="email" id="email" formControlName="email" placeholder="Correo@correo.mx">
              </mat-form-field>
            </div>
          </div>

          <div class="error-msgs text-center">
            <p *ngFor="let m of errors">{{ m.id | translate: {default: m.message} }}</p>
          </div>

          <div class="row justify-content-center">
            <div class="col-auto py-3">
              <button type="submit" mat-flat-button color="accent" class="btn-round login-btn" [disabled]="wait">
                <mat-spinner [diameter]="20" [hidden]="!wait"></mat-spinner> Enviar
              </button>
            </div>
          </div>
        </form>

        <ng-template #sent>
          <div class="sent text-center">
            <h2>Correo electrónico enviado</h2>
            <p>Es posible que tarde unos minutos en recibir el enlace de recuperación de contraseña.</p>
            <p>Si no recibe este enlace, comuníquese con su administrador.</p>
          </div>
        </ng-template>
      </mat-card-content>

  </mat-card>

  <div class="text-center mt-2">
    <a class="forgot-msg" routerLink="/login">Regresar</a>
  </div>
</div>
