<div class="container-fluid pt-5 px-md-5">
  <!-- title bar -->
  <div class="row">
    <div class="col page-title">
      <h1>{{ group?.name || '[Nombre cotizacion]' }}</h1>
      <p>Compara las diferentes ofertas que te han enviado nuestros proveedores</p>
    </div>
    <div class="col page-actions">
      <button mat-button color="accent" class="btn-round btn-sm btn-share me-3" (click)="share()" [disabled]="currentUser.id != group?.user?.id || !group.status">
        <mat-icon>share</mat-icon>
        Compartir Grupo
      </button>
      <button mat-raised-button color="primary" class="btn-round btn-sm" (click)="close()" [disabled]="currentUser.id != group?.user?.id || !group.status">
        Cerrar este grupo
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>

  <!-- filter form -->
  <div class="row search-form">
    <div class="form-group col-auto mt-2">
      <label for="search_name" class="form-label">&nbsp;</label>
      <mat-form-field appearance="outline" class="search-name">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput id="search_name" placeholder="Buscar por nombre del proveedor o servicio" [(ngModel)]="filters._q" (keyup)="applyFilter()">
      </mat-form-field>
    </div>
    <!--<div class="form-group col-auto mt-2">
      <label for="tipo" class="form-label">Ordenar</label>
      <mat-form-field appearance="outline">
        <mat-select id="order" placeholder="Más recientes" disableOptionCentering>
        </mat-select>
      </mat-form-field>
    </div>-->
    <div class="form-group col-auto mt-2">
      <label for="tipo" class="form-label">Estado</label>
      <mat-form-field appearance="outline">
        <mat-select id="order" placeholder="Todas" disableOptionCentering [(ngModel)]="filters.status" (selectionChange)="applyFilter()">
          <mat-option [value]="null">Todas</mat-option>
          <mat-option *ngFor="let op of statuses" [value]="op.id">{{ op.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-auto mt-2">
      <label for="search_usuario" class="form-label">Usuario</label>
      <mat-form-field appearance="outline" class="search-user">
        <mat-select id="search_usuario" placeholder="Nombre de usuario" disableOptionCentering [(ngModel)]="filters.user" (selectionChange)="applyFilter()">
          <mat-option [value]="null">Todas</mat-option>
          <mat-option *ngFor="let op of users" [value]="op.id">{{ op.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-divider></mat-divider>

  <!-- bulk actions -->
  <div class="row actions-form pt-3">
    <div class="form-group col-auto mt-1">
      <label for="tipo" class="form-label me-3">Acciones en lote</label>
      <mat-form-field appearance="outline" class="me-3">
        <mat-select id="order" placeholder="Cerrar" disableOptionCentering>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="accent" class="btn-round btn-sm" (click)="bulkAction()" [disabled]="selection.isEmpty()">Aplicar</button>
    </div>
    <div class="form-group col-auto mt-1">
      <mat-checkbox [(ngModel)]="filters.unread" (change)="applyFilter()">Conversaciones sin leer</mat-checkbox>
    </div>
    <div class="form-group col-auto mt-1">
      <mat-checkbox [(ngModel)]="filters.notrated" (change)="applyFilter()">Cotizaciones sin calificar</mat-checkbox>
    </div>
  </div>
  <mat-divider></mat-divider>

  <!-- open/closed buttons -->
  <div class="row">
    <div class="col py-4">
      <mat-button-toggle-group class="tabs" name="estatus" [(ngModel)]="filters.tab" (change)="tabChangue($event)">
        <mat-button-toggle value="open">Abiertas</mat-button-toggle>
        <mat-button-toggle value="discarded">Descartadas</mat-button-toggle>
        <mat-button-toggle value="finalized">Finalizadas</mat-button-toggle>
        <mat-button-toggle value="outbox">Buzón de salilda</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <!-- table -->
  <div class="row">
    <div class="col">
      <table class="cotizacion-table" mat-table [dataSource]="dataSource" matSort>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="px-3" mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element" class="px-3 text-nowrap"> {{element.group?.id}}-{{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="supplier">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del proveedor </th>
          <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
            <a routerLink="/empresas/catalogo/proveedores/{{element.supplier?.id}}">
              <app-profile-picture-avatar [profile_picture]="element.supplier?.profile_picture"></app-profile-picture-avatar>
              {{element.supplier?.name}}
            </a>
          </td>
        </ng-container>

        <!-- User Column -->
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.user?.firstname}} </td>
        </ng-container>

        <!-- Service Column -->
        <ng-container matColumnDef="service">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </th>
          <td mat-cell *matCellDef="let element"> {{element.service?.name || 'N/A'}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.created_at | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Estado </th>
          <td mat-cell *matCellDef="let element" class="status-cell text-center">
            <span class="pill pill-lg pill-{{element.status?.class}} mx-auto">{{ element.status?.name }}</span>
          </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Precio </th>
          <td mat-cell *matCellDef="let element" class="price-cell text-center"> {{ (element.offer?.amount | currency) || "-" }} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="badges">
          <th mat-header-cell *matHeaderCellDef class="text-end"></th>
          <td mat-cell *matCellDef="let element" class="badges-cell text-end text-nowrap">
            <!-- icon-status -->
            <ng-container [ngSwitch]="element.status?.id">
              <mat-icon svgIcon="cotizacion-pending" *jrSwitchCases="[1,2,3]"></mat-icon>
              <mat-icon svgIcon="cotizacion-active" *jrSwitchCases="[5,7]"></mat-icon>
              <mat-icon svgIcon="cotizacion-reject" *jrSwitchCases="[4,6]"></mat-icon>
              <mat-icon svgIcon="cotizacion" *ngSwitchDefault></mat-icon>
            </ng-container>
            <!-- /icon-status -->

            <!-- icon-mnsg -->
            <ng-container [ngSwitch]="element.status?.id">
              <mat-icon svgIcon="mnsg" *jrSwitchCases="[3,5]" [matBadge]="element.chat_room?.unread_a" [matBadgeHidden]="!element.chat_room?.unread_a"></mat-icon>
              <mat-icon svgIcon="mnsg-disable" *ngSwitchDefault [matBadge]="element.chat_room?.unread_a" [matBadgeHidden]="!element.chat_room?.unread_a"></mat-icon>
            </ng-container>
            <!-- /icon-mnsg -->

            <!-- icon-rating -->
            <ng-container *ngIf="element.rating">
              <mat-icon svgIcon="star-active" class="ms-1"></mat-icon>
            </ng-container>
            <ng-container *ngIf="!element.rating">
              <mat-icon svgIcon="star-disable"></mat-icon>
            </ng-container>
            <!-- /icon-rating -->
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="actions-cell text-end" (click)="$event.stopPropagation()">
            <a mat-button color="primary" [routerLink]="element.id"><mat-icon>chevron_right</mat-icon></a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [routerLink]="row.id"><!--(click)="selection.toggle(row)"-->
        </tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="7">No tienes cotizaciónes.</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
